Repository abijith-suresh/abijith-suresh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Add branded empty state message to PagefindUI
  src/lib/search-modal.ts
Due: eslint --fix, prettier --write

style: Enhance empty state message styling and links
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

Add branded empty state for zero search results (#175)
  src/components/SearchModal.astro
  src/lib/search-modal.ts
Due: eslint --fix, prettier --write

feat: add FlexSearch dependency and search index endpoint
  bun.lock
  package.json
  src/pages/api/search-index.json.ts
Due: eslint --fix, prettier --write

feat: add FlexSearch utility module
  src/lib/flexsearch.ts
Due: eslint --fix, prettier --write

feat: implement FlexSearch-powered search modal
  src/components/Header.astro
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

chore: remove Pagefind dependencies and build step
  package.json
Due: prettier --write

chore: remove obsolete Pagefind files
  src/lib/search-modal.ts
  src/types/pagefind-default-ui.d.ts
Due: eslint --fix, prettier --write

refactor: remove content snippets and reduce recent items
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

refactor: remove content body from search and improve footer
  src/components/SearchModal.astro
  src/lib/flexsearch.ts
Due: eslint --fix, prettier --write

fix: show keyboard shortcuts footer in empty state
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

fix: improve footer alignment
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

fix: match merox-erudite footer styling and visibility
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

chore: remove all Pagefind remnants from codebase
  bun.lock
  src/lib/pagefind.ts
  src/pages/blog/[...slug].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write

feat: migrate from Pagefind to FlexSearch for improved search experience (#176)
  bun.lock
  package.json
  src/components/Header.astro
  src/components/SearchModal.astro
  src/lib/flexsearch.ts
  src/lib/pagefind.ts
  src/lib/search-modal.ts
  src/pages/api/search-index.json.ts
  src/pages/blog/[...slug].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
  src/types/pagefind-default-ui.d.ts
Due: eslint --fix, prettier --write

feat: add custom Dockerfile and update devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  AGENTS.md
Due: prettier --write

feat: add custom Dockerfile and update devcontainer configuration (#177)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  AGENTS.md
Due: prettier --write

docs: rewrite README to be personal and minimal
  README.md
Due: prettier --write

docs: rewrite README to be personal and minimal (#178)
  README.md
Due: prettier --write

feat: Organize blog content into year-based directories and add dual licensing
  LICENSE
  README.md
  package.json
  src/content/blog/2026/astro-content-collections.md
  src/content/blog/2026/building-rest-apis-express.md
  src/content/blog/2026/css-grid-layout-guide.md
  src/content/blog/2026/getting-started-typescript.md
  src/content/blog/2026/git-workflow-best-practices.md
  src/content/blog/2026/introduction-to-docker.md
  src/content/blog/2026/minimal-design.md
  src/content/blog/2026/react-hooks-deep-dive.md
  src/content/blog/2026/testing-mdx-components.mdx
  src/content/blog/2026/understanding-async-javascript.md
  src/content/blog/2026/web-performance-optimization.md
  src/content/blog/2026/welcome.md
Due: prettier --write

feat: Organize blog content into year-based directories and add dual licensing (#180)
  LICENSE
  README.md
  package.json
  src/content/blog/2026/astro-content-collections.md
  src/content/blog/2026/building-rest-apis-express.md
  src/content/blog/2026/css-grid-layout-guide.md
  src/content/blog/2026/getting-started-typescript.md
  src/content/blog/2026/git-workflow-best-practices.md
  src/content/blog/2026/introduction-to-docker.md
  src/content/blog/2026/minimal-design.md
  src/content/blog/2026/react-hooks-deep-dive.md
  src/content/blog/2026/testing-mdx-components.mdx
  src/content/blog/2026/understanding-async-javascript.md
  src/content/blog/2026/web-performance-optimization.md
  src/content/blog/2026/welcome.md
Due: prettier --write

feat: add ink-and-paper theme and remove unused themes
  src/styles/global.css
  src/themes/index.ts
  src/themes/ink-and-paper.ts
  src/themes/rose-pine.ts
Due: eslint --fix, prettier --write

refactor: render Header directly in Layout and add Satoshi font
  src/components/Footer.astro
  src/components/Header.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

refactor: extract TOC heading filter and increase sidebar heading size
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
  src/lib/toc.ts
Due: eslint --fix, prettier --write

feat: add year headers to blog and project lists
  src/lib/group-by-year.ts
  src/pages/blog/[...page].astro
  src/pages/projects/[...page].astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: eslint --fix, prettier --write

refactor: update components to use semantic tokens and remove slot patterns
  src/components/Breadcrumb.astro
  src/components/ContentCard.astro
  src/components/ReadingProgress.astro
  src/components/RecentPosts.astro
  src/pages/404.astro
  src/pages/blog/[...slug].astro
  src/pages/projects/[slug].astro
Due: eslint --fix, prettier --write

feat: redesign home page with editorial Hero and simplified layout
  src/components/Hero.astro
  src/consts.ts
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: redesign about page with avatar and flowing narrative
  src/pages/about.astro
Due: eslint --fix, prettier --write

fix: repair search modal view transitions and fix result URLs
  src/components/SearchModal.astro
  src/pages/api/search-index.json.ts
Due: eslint --fix, prettier --write

feat: replace Bluesky Cloud icon with proper butterfly SVG
  src/components/SocialLinks.astro
Due: eslint --fix, prettier --write

refactor: change RelatedPosts layout from grid columns to rows
  src/components/RelatedPosts.astro
Due: eslint --fix, prettier --write

feat: replace default Astro favicon with custom AS branding
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.svg
Due: none

docs: add CLAUDE.md with agent instructions
  CLAUDE.md
Due: prettier --write

docs: update AGENTS.md with current project state
  AGENTS.md
Due: prettier --write

feat: portfolio redesign with ink-and-paper theme (#183)
  AGENTS.md
  CLAUDE.md
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.svg
  src/components/Breadcrumb.astro
  src/components/ContentCard.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/ReadingProgress.astro
  src/components/RecentPosts.astro
  src/components/RelatedPosts.astro
  src/components/SearchModal.astro
  src/components/SocialLinks.astro
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
  src/consts.ts
  src/layouts/Layout.astro
  src/lib/group-by-year.ts
  src/lib/toc.ts
  src/pages/404.astro
  src/pages/about.astro
  src/pages/api/search-index.json.ts
  src/pages/blog/[...page].astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/projects/[...page].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/styles/global.css
  src/themes/index.ts
  src/themes/ink-and-paper.ts
  src/themes/rose-pine.ts
Due: eslint --fix, prettier --write

refactor: remove excessive AI-style comments from lib files
  src/lib/blog.ts
  src/lib/flexsearch.ts
  src/lib/projects.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

refactor: add class prop to TOC and other components
  src/components/BackLink.astro
  src/components/RecentPosts.astro
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
Due: eslint --fix, prettier --write

refactor: split flexsearch.ts into modular components
  src/lib/flexsearch.ts
  src/lib/flexsearch/cache.ts
  src/lib/flexsearch/highlighting.ts
  src/lib/flexsearch/index.ts
  src/lib/flexsearch/scoring.ts
Due: eslint --fix, prettier --write

refactor: extract SearchModal state components
  src/components/SearchModal.astro
  src/components/SearchModalEmpty.astro
  src/components/SearchModalError.astro
  src/components/SearchModalFooter.astro
  src/components/SearchModalSkeleton.astro
Due: eslint --fix, prettier --write

refactor: Clean up code architecture and remove excessive comments (#186)
  src/components/BackLink.astro
  src/components/RecentPosts.astro
  src/components/SearchModal.astro
  src/components/SearchModalEmpty.astro
  src/components/SearchModalError.astro
  src/components/SearchModalFooter.astro
  src/components/SearchModalSkeleton.astro
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
  src/lib/blog.ts
  src/lib/flexsearch.ts
  src/lib/flexsearch/cache.ts
  src/lib/flexsearch/highlighting.ts
  src/lib/flexsearch/index.ts
  src/lib/flexsearch/scoring.ts
  src/lib/projects.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs,ts,astro}
  prettier --write: (any of: *.{js,mjs,cjs,ts,astro}) or (any of: *.{json,md,mdx,css})
