Repository abijith-suresh/abijith-suresh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: improve content collection schemas (#182)
  src/components/ProjectCard.astro
  src/content/config.ts
  src/content/projects/ai-image-generator.md
  src/content/projects/api-documentation-generator.md
  src/content/projects/budget-tracker-dashboard.md
  src/content/projects/code-snippet-manager.md
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracking-app.md
  src/content/projects/markdown-editor.md
  src/content/projects/music-streaming-platform.md
  src/content/projects/portfolio-website.md
  src/content/projects/realtime-chat-app.md
  src/content/projects/recipe-finder-api.md
  src/content/projects/task-management-app.md
  src/content/projects/url-shortener-service.md
  src/content/projects/weather-cli.md
  src/lib/projects.ts
  src/pages/api/search-index.json.ts
  src/pages/projects/[...page].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
Due: eslint --fix, prettier --write

feat: integrate Font Awesome for social media icons
  astro.config.mjs
  bun.lock
  package.json
  src/components/SocialLinks.astro
Due: eslint --fix, prettier --write

feat: integrate Font Awesome for social media icons (#187)
  astro.config.mjs
  bun.lock
  package.json
  src/components/SocialLinks.astro
Due: eslint --fix, prettier --write

docs: add CHANGELOG.md following Keep a Changelog 1.1.0 spec
  CHANGELOG.md
Due: prettier --write

docs: add CHANGELOG.md reference to Key Configuration Files section
  AGENTS.md
Due: prettier --write

docs: add changelog following Keep a Changelog spec (#188)
  AGENTS.md
  CHANGELOG.md
Due: prettier --write

feat: add content templates for blog posts and projects
  .templates/README.md
  .templates/blog-post.md
  .templates/blog-post.mdx
  .templates/mdx-cheatsheet.md
  .templates/project.md
Due: prettier --write

feat: add content creation scripts for blog posts and projects
  .scripts/new-blog.js
  .scripts/new-project.js
Due: eslint --fix, prettier --write

chore: add npm scripts and eslint ignore for content creation
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

docs: add content creation workflow documentation to AGENTS.md
  AGENTS.md
Due: prettier --write

feat: add content templates and creation scripts (#153) (#189)
  .scripts/new-blog.js
  .scripts/new-project.js
  .templates/README.md
  .templates/blog-post.md
  .templates/blog-post.mdx
  .templates/mdx-cheatsheet.md
  .templates/project.md
  AGENTS.md
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

fix: remove all dummy blog posts and projects
  src/content/blog/2026/astro-content-collections.md
  src/content/blog/2026/building-rest-apis-express.md
  src/content/blog/2026/css-grid-layout-guide.md
  src/content/blog/2026/getting-started-typescript.md
  src/content/blog/2026/git-workflow-best-practices.md
  src/content/blog/2026/introduction-to-docker.md
  src/content/blog/2026/minimal-design.md
  src/content/blog/2026/react-hooks-deep-dive.md
  src/content/blog/2026/testing-mdx-components.mdx
  src/content/blog/2026/understanding-async-javascript.md
  src/content/blog/2026/web-performance-optimization.md
  src/content/blog/2026/welcome.md
  src/content/projects/ai-image-generator.md
  src/content/projects/api-documentation-generator.md
  src/content/projects/budget-tracker-dashboard.md
  src/content/projects/code-snippet-manager.md
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracking-app.md
  src/content/projects/markdown-editor.md
  src/content/projects/music-streaming-platform.md
  src/content/projects/portfolio-website.md
  src/content/projects/realtime-chat-app.md
  src/content/projects/recipe-finder-api.md
  src/content/projects/task-management-app.md
  src/content/projects/url-shortener-service.md
  src/content/projects/weather-cli.md
Due: prettier --write

fix: remove all dummy blog posts and projects (#190)
  src/content/blog/2026/astro-content-collections.md
  src/content/blog/2026/building-rest-apis-express.md
  src/content/blog/2026/css-grid-layout-guide.md
  src/content/blog/2026/getting-started-typescript.md
  src/content/blog/2026/git-workflow-best-practices.md
  src/content/blog/2026/introduction-to-docker.md
  src/content/blog/2026/minimal-design.md
  src/content/blog/2026/react-hooks-deep-dive.md
  src/content/blog/2026/testing-mdx-components.mdx
  src/content/blog/2026/understanding-async-javascript.md
  src/content/blog/2026/web-performance-optimization.md
  src/content/blog/2026/welcome.md
  src/content/projects/ai-image-generator.md
  src/content/projects/api-documentation-generator.md
  src/content/projects/budget-tracker-dashboard.md
  src/content/projects/code-snippet-manager.md
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracking-app.md
  src/content/projects/markdown-editor.md
  src/content/projects/music-streaming-platform.md
  src/content/projects/portfolio-website.md
  src/content/projects/realtime-chat-app.md
  src/content/projects/recipe-finder-api.md
  src/content/projects/task-management-app.md
  src/content/projects/url-shortener-service.md
  src/content/projects/weather-cli.md
Due: prettier --write

fix: handle empty content states gracefully
  src/components/RecentPosts.astro
  src/pages/blog/[...page].astro
  src/pages/index.astro
  src/pages/projects/[...page].astro
Due: eslint --fix, prettier --write

fix: handle empty content states gracefully (#191)
  src/components/RecentPosts.astro
  src/pages/blog/[...page].astro
  src/pages/index.astro
  src/pages/projects/[...page].astro
Due: eslint --fix, prettier --write

chore: add avatar photo
  public/avatar.jpg
Due: none

refactor: replace lucide icons with Font Awesome in Breadcrumb
  src/components/Breadcrumb.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in Header
  src/components/Header.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in ThemePicker
  src/components/ThemePicker.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in SearchModal
  src/components/SearchModal.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in SearchModalEmpty
  src/components/SearchModalEmpty.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in Pagination
  src/components/Pagination.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in remaining components
  src/components/ContentCard.astro
  src/components/RecentPosts.astro
  src/components/RelatedPosts.astro
  src/components/TOCHeader.astro
Due: eslint --fix, prettier --write

refactor: replace lucide icons with Font Awesome in remaining pages
  src/components/mdx/Callout.astro
  src/pages/404.astro
  src/pages/projects/[slug].astro
Due: eslint --fix, prettier --write

chore: remove lucide-astro dependency
  package.json
Due: prettier --write

chore: update astro-icon config to include all Font Awesome icons
  astro.config.mjs
  bun.lock
Due: eslint --fix, prettier --write

feat: add initial content and improve about page
  public/avatar.jpg
  src/components/ContentCard.astro
  src/content/blog/2026/why-i-built-my-own-website.md
  src/content/projects/personal-portfolio-website.md
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat: add initial content and improve about page (#192)
  astro.config.mjs
  bun.lock
  package.json
  public/avatar.jpg
  src/components/Breadcrumb.astro
  src/components/ContentCard.astro
  src/components/Header.astro
  src/components/Pagination.astro
  src/components/RecentPosts.astro
  src/components/RelatedPosts.astro
  src/components/SearchModal.astro
  src/components/SearchModalEmpty.astro
  src/components/TOCHeader.astro
  src/components/ThemePicker.astro
  src/components/mdx/Callout.astro
  src/content/blog/2026/why-i-built-my-own-website.md
  src/content/projects/personal-portfolio-website.md
  src/pages/404.astro
  src/pages/about.astro
  src/pages/projects/[slug].astro
Due: eslint --fix, prettier --write

refactor: redesign about page with centered layout and labeled sections
  AGENTS.md
  CHANGELOG.md
  src/pages/about.astro
Due: eslint --fix, prettier --write

refactor: redesign about page with centered layout and labeled sections (#193)
  AGENTS.md
  CHANGELOG.md
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat: add @vercel/og dependency for dynamic OG image generation
  bun.lock
  package.json
Due: prettier --write

feat: create dynamic OG image generation endpoint
  src/pages/api/og.png.ts
Due: eslint --fix, prettier --write

feat: update SEO component to use dynamic OG images
  src/components/seo/SEO.astro
Due: eslint --fix, prettier --write

feat: add dynamic OG image generation matching Ink & Paper theme (#194)
  bun.lock
  package.json
  src/components/seo/SEO.astro
  src/pages/api/og.png.ts
Due: eslint --fix, prettier --write

chore: sync config with pasta and reshrimp
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .husky/commit-msg
  .vscode/extensions.json
  AGENTS.md
  astro.config.ts
  bun.lock
  commitlint.config.ts
  eslint.config.ts
  package.json
  src/test/example.test.ts
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update dependencies
  bun.lock
  package.json
Due: prettier --write

fix: move audit to scheduled workflow; fix action versions
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: format workflow files
  .github/workflows/audit.yml
Due: none

chore: sync config with pasta and reshrimp (#195)
  .devcontainer/devcontainer.json
  .editorconfig
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .husky/commit-msg
  .vscode/extensions.json
  AGENTS.md
  astro.config.ts
  bun.lock
  commitlint.config.ts
  eslint.config.ts
  package.json
  src/test/example.test.ts
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs,ts,astro}
  prettier --write: (any of: *.{js,mjs,cjs,ts,astro}) or (any of: *.{json,md,mdx,css})
