Repository abijith-suresh/abijith-suresh.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: split data utilities by domain
  src/components/RecentPosts.astro
  src/lib/blog.ts
  src/lib/content-tags.ts
  src/lib/data-utils.ts
  src/lib/pagination.ts
  src/lib/projects.ts
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: eslint --fix, prettier --write

Refactor shared content patterns (#134)
  src/components/BlogCard.astro
  src/components/ContentCard.astro
  src/components/PaginatedListLayout.astro
  src/components/ProjectCard.astro
  src/components/RecentPosts.astro
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
  src/components/TagList.astro
  src/lib/blog.ts
  src/lib/content-tags.ts
  src/lib/data-utils.ts
  src/lib/pagefind.ts
  src/lib/pagination.ts
  src/lib/projects.ts
  src/lib/toc.ts
  src/pages/blog/[...page].astro
  src/pages/blog/[...slug].astro
  src/pages/projects/[...page].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: eslint --fix, prettier --write

style: unify page transitions
  src/layouts/Layout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

feat: smooth scroll toc links
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
  src/lib/toc.ts
Due: eslint --fix, prettier --write

style: refine modal and menu motion
  src/components/ReadingProgress.astro
  src/components/SearchModal.astro
  src/components/ThemePicker.astro
Due: eslint --fix, prettier --write

style: add page enter motion and prefetch
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Pagination.astro
  src/components/RecentPosts.astro
  src/components/TagList.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/blog/[...page].astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/projects/[...page].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
Due: eslint --fix, prettier --write

Refine SPA-like motion (#135)
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Pagination.astro
  src/components/ReadingProgress.astro
  src/components/RecentPosts.astro
  src/components/SearchModal.astro
  src/components/TOCHeader.astro
  src/components/TOCSidebar.astro
  src/components/TagList.astro
  src/components/ThemePicker.astro
  src/layouts/Layout.astro
  src/lib/toc.ts
  src/pages/404.astro
  src/pages/about.astro
  src/pages/blog/[...page].astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/projects/[...page].astro
  src/pages/projects/[slug].astro
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

chore: migrate to GitHub Pages and remove Vercel analytics
  .github/workflows/gh-pages.yml
  astro.config.mjs
  bun.lock
  package.json
  src/consts.ts
  src/content/blog/testing-mdx-components.mdx
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

chore: migrate to GitHub Pages and remove Vercel analytics (#136)
  .github/workflows/gh-pages.yml
  astro.config.mjs
  bun.lock
  package.json
  src/consts.ts
  src/content/blog/testing-mdx-components.mdx
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

docs: update AGENTS.md to reflect current codebase state
  AGENTS.md
Due: prettier --write

docs: update AGENTS.md to reflect current codebase state (#152)
  AGENTS.md
Due: prettier --write

fix: disable Jekyll processing on GitHub Pages
  public/.nojekyll
Due: none

fix: disable Jekyll processing on GitHub Pages (#154)
  public/.nojekyll
Due: none

docs: add comprehensive README documentation
  README.md
Due: prettier --write

docs: add comprehensive README documentation (#157)
  README.md
Due: prettier --write

refactor: extract duplicate tag calculation logic to shared utility
  src/lib/blog.ts
  src/lib/projects.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

refactor: extract duplicate tag calculation logic to shared utility (#158)
  src/lib/blog.ts
  src/lib/projects.ts
  src/lib/utils.ts
Due: eslint --fix, prettier --write

feat: simplify theme system to 2-option toggle with animations
  src/components/ThemePicker.astro
  src/layouts/Layout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

feat: simplify theme system to 2-option toggle with animations (#159)
  src/components/ThemePicker.astro
  src/layouts/Layout.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

refactor: extract SearchModal script to separate module
  src/components/SearchModal.astro
  src/lib/search-modal.ts
Due: eslint --fix, prettier --write

refactor: extract SearchModal script to separate module (#162)
  src/components/SearchModal.astro
  src/lib/search-modal.ts
Due: eslint --fix, prettier --write

refactor: use consistent semantic HTML for project content wrapper
  src/pages/projects/[slug].astro
Due: eslint --fix, prettier --write

refactor: use consistent semantic HTML for project content wrapper (#166)
  src/pages/projects/[slug].astro
Due: eslint --fix, prettier --write

fix: normalize tag casing to prevent duplicates in search
  src/content/blog/astro-content-collections.md
  src/content/blog/building-rest-apis-express.md
  src/content/blog/getting-started-typescript.md
  src/content/blog/react-hooks-deep-dive.md
  src/content/projects/ai-image-generator.md
  src/content/projects/api-documentation-generator.md
  src/content/projects/budget-tracker-dashboard.md
  src/content/projects/code-snippet-manager.md
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracking-app.md
  src/content/projects/music-streaming-platform.md
  src/content/projects/realtime-chat-app.md
  src/content/projects/recipe-finder-api.md
  src/content/projects/url-shortener-service.md
Due: prettier --write

fix: normalize tag casing to prevent duplicates in search (#167)
  src/content/blog/astro-content-collections.md
  src/content/blog/building-rest-apis-express.md
  src/content/blog/getting-started-typescript.md
  src/content/blog/react-hooks-deep-dive.md
  src/content/projects/ai-image-generator.md
  src/content/projects/api-documentation-generator.md
  src/content/projects/budget-tracker-dashboard.md
  src/content/projects/code-snippet-manager.md
  src/content/projects/ecommerce-platform.md
  src/content/projects/fitness-tracking-app.md
  src/content/projects/music-streaming-platform.md
  src/content/projects/realtime-chat-app.md
  src/content/projects/recipe-finder-api.md
  src/content/projects/url-shortener-service.md
Due: prettier --write

refactor: replace hard-coded transition durations with CSS variables
  src/components/ReadingProgress.astro
  src/components/SearchModal.astro
  src/lib/search-modal.ts
Due: eslint --fix, prettier --write

refactor: replace hard-coded transition durations with CSS variables (#168)
  src/components/ReadingProgress.astro
  src/components/SearchModal.astro
  src/lib/search-modal.ts
Due: eslint --fix, prettier --write

fix: update robots.txt sitemap URL to match canonical site URL
  public/robots.txt
Due: none

fix: update robots.txt sitemap URL to match canonical site URL (#169)
  public/robots.txt
Due: none

docs: clean up AGENTS.md structure and remove outdated headings
  AGENTS.md
Due: prettier --write

docs: clean up AGENTS.md structure and remove outdated headings (#170)
  AGENTS.md
Due: prettier --write

feat: audit and update social media links
  src/components/SocialLinks.astro
  src/components/seo/JsonLd.astro
  src/consts.ts
  src/pages/about.astro
Due: eslint --fix, prettier --write

feat: audit and update social media links (#171)
  src/components/SocialLinks.astro
  src/components/seo/JsonLd.astro
  src/consts.ts
  src/pages/about.astro
Due: eslint --fix, prettier --write

chore(deps-dev): bump lint-staged from 15.5.2 to 16.2.7
  bun.lock
  package.json
Due: prettier --write

chore(deps-dev): bump lint-staged from 15.5.2 to 16.2.7 (#172)
  bun.lock
  package.json
Due: prettier --write

fix: improve CI/CD pipeline and add TypeScript type checking
  .github/dependabot.yml
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: make TypeScript type check step non-fatal
  .github/workflows/ci.yml
Due: none

fix: improve CI/CD pipeline and add TypeScript type checking (#173)
  .github/dependabot.yml
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: add comprehensive error handling to RSS feed generation (Issue #139)
  src/pages/rss.xml.js
Due: eslint --fix, prettier --write

fix: add comprehensive error handling to RSS feed generation (Issue #139) (#174)
  src/pages/rss.xml.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,mjs,cjs,ts,astro}
  prettier --write: (any of: *.{js,mjs,cjs,ts,astro}) or (any of: *.{json,md,mdx,css})
